.poke-cell {
  width: 150px;
  height: 150px;
  margin:5px;
  border: 1px;
  transition: all .2s ease-in-out;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #caecf3;
  text-align: center;
}

.poke-cell:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

Link:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;

}